nav {
    background-color: #fff;
    box-shadow: 0px 0.4rem 1.2rem  rgba(0, 0, 0, 0.08);
}

.navbar-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 0;
    font-weight: 500;
    /* color: #fff; */

}


.logo{
    padding:0.7rem 0;
    white-space: nowrap;
    cursor: pointer;
}



.logo i{
    background-color: #82CD47;
    padding: 0.899rem;
    border-radius: 0.4rem;

}
.logo span{
    /* color: ; */
    padding-left: 0.8rem;
    font-weight: 800;
}


.menu {
  padding:0.7rem 0;
}


.close-btn,.menu-btn{
    display: none;
}

.menu ul {
    display: inline-block;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.menu ul li{
    padding-right: 2rem;
}

.menu ul li a{
    cursor: pointer;
    text-decoration: none;
    color: #000;
    position: relative;
}

.menu ul li a::after{
    content: "";
    height: 0.2rem;
    width: 0;
    background-color: green;
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    transition: all 0.3s linear;
}


.menu ul li a:hover::after{
    width: 100%;
}


.menu ul li a:hover{
    color: green;
}


/* active class */
.menu ul li a.active{
    color: green;
}




.icons{
  padding:0.7rem 0;
}


.icons i{
    padding: 0.899rem;
    box-sizing: border-box;
    margin-right: 0.2rem;
    background-color: #82CD47;
    border-radius: 0.4rem;
    cursor: pointer;
}

.menu-btn{
    display: none;
}


/* Media query */

@media(max-width:876px) {
 
 .menu-btn {
    display: initial;
}

.menu {
    width: 30rem;
    height: 100vh;
    position: absolute;
    top: 0;
    right:-50rem;
    background-color: #fff;
    padding: 2rem 0 0 2rem;
    box-shadow: 0.4rem 0px 1.2rem 1rem  rgba(0, 0, 0, 0.08);
}


.menu.active {
  right: 0;  
}


.close-btn {
    display: initial;
    position: absolute;
    top: 2.4rem;
    right: 2rem;
    cursor: pointer;
}

.menu ul {
    display: block;
}

.menu ul li {
    padding: 0.17rem;
}

}