nav {
    background-color: #fff;
    box-shadow: 0px 0.4rem 1.2rem  rgba(0, 0, 0, 0.08);
    position: fixed;
    width: 100vw;
}

.navbar-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 0;
    font-weight: 500;
    /* color: #fff; */

}




.logo{
    padding:0.7rem 0;
    white-space: nowrap;
    cursor: pointer;
}



.logo i{
    background-color: #82CD47;
    padding: 0.899rem;
    border-radius: 0.4rem;

}
.logo span{
    /* color: ; */
    padding-left: 0.8rem;
    font-weight: 800;
}


.menu {
  padding:0.7rem 0;
}


.close-btn,.menu-btn{
    display: none;
}

.menu ul {
    display: inline-block;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.menu ul li{
    padding-right: 2rem;
}

.menu ul li a{
    cursor: pointer;
    text-decoration: none;
    color: #000;
    position: relative;
}

.menu ul li a::after{
    content: "";
    height: 0.2rem;
    width: 0;
    background-color: green;
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    transition: all 0.3s linear;
}


.menu ul li a:hover::after{
    width: 100%;
}


.menu ul li a:hover{
    color: green;
}


/* active class */
.menu ul li a.active{
    color: green;
}




.icons{
  padding:0.7rem 0;
}


.icons i{
    padding: 0.899rem;
    box-sizing: border-box;
    margin-right: 0.2rem;
    background-color: #82CD47;
    border-radius: 0.4rem;
    cursor: pointer;
}

.menu-btn{
    display: none;
}


.search-form {
    border: 0.1rem black solid;
    border-radius: 0.4rem;
    padding: 0.4rem ;
    position: absolute;
    top: 7rem;
    right: -50rem;
    background-color: #fff;
}

.search-form.sf-active{
  right: 2rem;
}

.search-form label {
    padding: 0 0.5rem;
    cursor: pointer;
}

#search-box{
    border:none;
    outline: none;
    padding: 0.5rem 2rem;
    font-size: 1.8rem;
    width: 25rem;
    white-space: nowrap;
    background-color: transparent;
}

.cart {
    width: 30rem;
    position: absolute;
    top: 7rem;
    right: -50rem;

    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: -1rem 0 10rem -2rem grey;

}
.cart.cactive{
  right: 1.2rem;
}
.cartItem {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
}

.cartItem i {
    cursor: pointer;
}

.cartItem .price,.cartItem .quantity{
  color: grey;
}

.cart .total {
    text-align: center;
}

.checkout{
    display: flex;
    justify-content: center;
}

.cart button {
    cursor: pointer;
    margin: 1.5rem 0;
    padding: 1rem;
    font-size: 1.8rem;
    border: none;
    border-radius: 0.5rem;
    width: 28rem;

}


.cart button:hover,.login-form button:hover{
    color: green;
}

.cartItem img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}


.login-form {
    width: 30rem;
    position: absolute;
    top: 7rem;
    right: -50rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -1rem 0 10rem -2rem grey;

    /* right: -50rem; */

}

.login-form.lf-active {
    right: 1.2rem;

}
.login-form h4 {
    font-size: 2rem;
    padding: 1rem  0;
}

.login-form form input {
    border: none;
    outline: none;
    border-radius: 0.4rem;
    padding: 0.5rem 2rem;
    margin: 0.5rem 0;
    font-size: 1.8rem;
    width: 25rem;
    white-space: nowrap;
    background-color: rgb(235, 232, 232);
}

.login-form span {
    font-size: 1.5rem;
    
}
.login-form span a{
    cursor: pointer;
    color: green;
}

.login-form button {
    cursor: pointer;
    margin: 1.5rem 0;
    padding: 1rem;
    font-size: 1.8rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    width: 15rem;

}
/* Media query */

@media(max-width:876px) {
 
 .menu-btn {
    display: initial;
}

.menu {
    width: 30rem;
    height: 100vh;
    position: absolute;
    top: 0;
    right:-50rem;
    background-color: #fff;
    padding: 2rem 0 0 2rem;
    box-shadow: 0.4rem 0px 1.2rem 1rem  rgba(0, 0, 0, 0.08);
}


.menu.active {
  right: 0;  
}


.close-btn {
    display: initial;
    position: absolute;
    top: 2.4rem;
    right: 2rem;
    cursor: pointer;
}

.menu ul {
    display: block;
}

.menu ul li {
    padding: 0.17rem;
}

}